import React from 'react';

import { IconType, IconDefaults } from './type';

const {{capitalize name}} = ({ color, className }) => (
  <svg viewBox="0 0 24 24" className={className}>
    <path
      d=""
      fill={color}
    />
  </svg>
);

{{capitalize name}}.propTypes = IconType;
{{capitalize name}}.defaultProps = IconDefaults;

export default {{capitalize name}};
